.card {
    background-color: $medBeige;
    background-image: url(#{$imgPath}/medBeige.png);
    margin-top: 10px;
    justify-content: space-around;
    img {
        margin: 5px;
        height: auto;
    }

    &#info {
        background-color: $lightBrown;
        background-image: url(#{$imgPath}/lightBrown.png);
    }

    &#contact {
        margin-bottom: 10px;
    }
}