.navbar {
    background-color: $darkBeige;
    background-image: url(#{$imgPath}/navbackground.png);
    opacity: 0.9;
    border: { 
        color: $darkBeige;
    }
    img {
        height: 70px;
    }
}

a.nav-link{
    color: $black;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 10px;
    &.active {
        background-color : $medBeige;
        background-image: url(#{$imgPath}/buttonbg.png);
        border-radius: 10%;
    }
}

button.navbar-toggler{
    padding-right: 35px;
}