body{
    background-color: $lightBeige;
    background-image: url(#{$imgPath}/backgroundimg.png);
    height: 100%;
    width: 100%;
}

button{
    background-color: $lightBeige;
    background-image: url(#{$imgPath}/buttonbg.png);
}