body {
  background-color: #e1cf79;
  background-image: url(images/backgroundimg.png);
  height: 100%;
  width: 100%; }

button {
  background-color: #e1cf79;
  background-image: url(images/buttonbg.png); }

.navbar {
  background-color: #c99942;
  background-image: url(images/navbackground.png);
  opacity: 0.9;
  border-color: #c99942; }
  .navbar img {
    height: 70px; }

a.nav-link {
  color: #000000;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 10px; }
  a.nav-link.active {
    background-color: #e2a446;
    background-image: url(images/buttonbg.png);
    border-radius: 10%; }

button.navbar-toggler {
  padding-right: 35px; }

.card {
  background-color: #e2a446;
  background-image: url(images/medBeige.png);
  margin-top: 10px; }
  .card img {
    margin: 5px;
    height: auto; }
  .card#info {
    background-color: #b0713e;
    background-image: url(images/lightBrown.png); }
  .card#contact {
    margin-bottom: 10px; }

.carousel-inner img {
  margin-top: 25px;
  height: 350px;
  width: auto; }

.carousel-caption {
  color: #592c19;
  position: relative;
  right: 0%;
  left: 0%; }

a.carousel-control-prev {
  color: #592c19; }

table {
  margin-top: 10px; }

thead {
  background-color: #592c19;
  background-image: url(images/darkBrown.png);
  color: white; }

tbody {
  background-color: #b0713e;
  background-image: url(images/lightBrown.png); }
